/* .list-container{ */

/* } */

.list-title {
  color: white;
  font-size: 16px;
  font-weight: 600;
  /* border-bottom: 1px solid #198754; */
  padding: 3px;
}

.list li {
  color: white;
  list-style-type: none;
  padding: 5px;
  font-size: 15px;
}

.btn-warning {
  --bs-btn-bg: rgb(225, 61, 61) !important;
  --bs-btn-border-color: rgb(225, 61, 61) !important;
  --bs-btn-hover-bg: rgb(211, 52, 52) !important;
  --bs-btn-hover-border-color: rgb(211, 52, 52) !important;
}

/* .list-container { */
/* background-color: rgb(209, 240, 228); */
/* height: 50vw; */
/* width: 20vw; */
/* border: 1px solid #198754; */
/* border-radius: 5%; */
/* text-align: center; */
/* } */
