.add-container {
  width: 350px;
  vertical-align: middle;
  display: inline-block;
}
.mobil-add-form {
  height: 30px !important;
  width: 250px;
}

.form-select {
  font-size: 13px !important;
  font-weight: 400;
  line-height: 1 !important;
  background-size: 14px 10px !important;
}
.add-btn {
  --bs-btn-font-size: 13px !important;
}

@media (min-width: 1000px) {
  .add-container {
    width: 18vw;
  }
  .form-select {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-size: 16px 12px;
  }
  .add-btn {
    --bs-btn-font-size: 1rem;
  }
}
