.hero {
  background-image: url(/public/image-2.jpg);
  background-size: cover;
  background-position: 0% 50%;
  width: 100%;
  opacity: 0.9;
  position: relative;
  padding-top: 3vw;

  height: 250px;
}

@media (min-width: 1000px) {
  .hero {
    height: 35vw;
  }
}

.top-title {
  opacity: 1;
  font-weight: 700;
  color: white;

  font-size: 20px;
  padding: 20px;
}

@media (min-width: 1000px) {
  .top-title {
    font-size: 3vw;
    margin-left: 5.2vw;
    padding: 2vw;
  }
}

.top-par {
  text-align: start;
  color: white;
  position: absolute;
  font-size: 15px;
  font-weight: 700;
  width: 70%;
  left: 20%;
  top: 50%;
}

@media (min-width: 1000px) {
  .top-par {
    font-size: 1.5vw;
    width: 40%;
    left: 55%;
    top: 6vw;
  }
}

.btn-container {
  margin-left: 40px;
}

@media (min-width: 1000px) {
  .btn-container {
    padding: 2vw 3vw;
    margin-left: 4.2vw;
  }
}
.middle {
  display: none;
}
@media (min-width: 1000px) {
  .middle {
    display: block;
    height: 25vw;
    width: 100%;

    background-color: rgb(225, 234, 236);
    position: relative;
  }

  .square {
    margin: 3vw;
    height: 22vw;
    box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.3) !important;
  }

  .items {
    position: absolute;
    top: -10vw;
    padding: 0 5vw;
  }

  .square-1 {
    background-color: rgb(225, 61, 61) !important;
    padding: 5vw;
  }
  .square-1 h3 {
    font-size: 1.9vw;
  }
  .square-2 {
    background-color: #78be8d !important;

    padding: 4vw;
    padding-top: 3vw;
    margin-top: -1vw;
    height: 26vw;
  }
  .square-2 h5 {
    font-size: 1.2vw;
    font-weight: 600;
  }
  .square-2 p {
    font-size: 1.1vw;
    line-height: 1.4vw;
  }
  .buy-sell-text {
    color: white;
    font-weight: 600;
  }
  .square-3 {
    /* background-color: rgb(104, 115, 172) !important; */
    background-color: #3f51b5 !important;
    padding: 2vw;
  }
}

@media (min-width: 1000px) {
  .middle-mobil {
    display: none;
  }
}

.square-1-mobil {
  background-color: rgb(225, 61, 61) !important;
  height: 100px;
  padding: 20px;
}
.square-1-mobil h3 {
  color: white;
  font-size: 17px;
}
.square-2-mobil {
  background-color: #78be8d !important;
  padding: 20px;
  color: white;
  font-size: 14px;
  font-weight: 700;
}
.square-2-mobil h5 {
  font-weight: 700;
}

.interest-mobil {
  background: linear-gradient(#78be8d, rgb(225, 61, 61));
  padding: 20px;
  justify-content: center;
}

.square-3-mobil {
  background-color: #3f51b5 !important;
  padding: 20px;
}

.radio-line {
  margin-left: 20px;
}

.interests-title {
  margin-bottom: 20px;
}

.interests-section {
  padding: 4vw;
  background-color: white;
}
.lower-get-movie-btn {
  display: flex;
  width: 100%;
  margin-top: 3vw;
  justify-content: center;
}

.recommended-movies-section {
  height: 100vh;

  width: 100%;
  background: linear-gradient(rgb(229, 225, 225), gray);
  z-index: -1;
}

.recommended-movies-section-2 {
  background-color: rgb(225, 234, 236);
  width: 100%;
  margin-bottom: 2vw;
  display: flex;
  justify-content: center;
}
