.about-page-container {
  height: 45vw;
}

.about-container {
  flex-direction: column;
  text-align: left;
  width: 20vw;
}

.about-bottom {
  background-image: url(/public/image-3.jpg);
  background-size: cover;
  background-position: 0% 70%;
  width: 100%;
  height: 30vw;
}
