.card-text {
  margin-bottom: 3px !important;
  font-weight: 600;
}

.card {
  margin-top: 12px;
}

.radioContainer {
  /* height: 20hw; */
  /* width: 30vw; */
  /* border: 1px solid black; */
  font-size: 12px;
  margin-top: 3px !important;
}

.form-check-input:checked {
  background-color: black !important;

  border-color: black !important;
}

.no-show {
  visibility: hidden;
}

.interest-img {
  height: 100px;
  width: 100px;
  margin-bottom: 20px;
  /* border-radius: 100%; */
}
